<div class="center-container">
  <div class="container">
    <marquee>Welcome To Airline</marquee>
    <div class="card" (click)="openFirstModel()">
      <div class="card-content">
        <span class="card-title">Heading Model</span>
      </div>
    </div>
    <div class="card" (click)="openSecondModel()">
      <div class="card-content">
        <span class="card-title">Commodity Model</span>
      </div>
    </div>
    <div class="card" (click)="openThirdModel()">
      <div class="card-content">
        <span class="card-title">SHC Model</span>
      </div>
    </div>
  </div>
</div>